.App {
  font-family: 'Times New Roman';
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #17181a;
  padding: 0%;
  margin: 0%;
  width: 100vw;
  height: 100vh;
  border: none;
  scrollbar-color: grey;
}

input {
  outline: none;
  border: none;
  padding: 0px;
}

select {
  outline: none;
  border: none;
  padding: 0px;
}

td {
  padding: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

:root {
  color-scheme: dark;
  font-size: min(.55vw, 1.25vh);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1rem + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes bounce {
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-40%);
  }
}